@font-face {
  font-family: "Officina";
  font-weight: bold;
  src: url('/assets/officina-bold.otf');
}

@font-face {
  font-family: "Officina";
  font-weight: normal;
  src: url('/assets/officina.otf');
}
